{% extends "base.html" %}
{% block content %} 

<div id="remove-bullet">
    <button><li><a href="/countries/new">Add a country</a></li></button>
</div>

<div class="country_container">
    {% for country in all_countries %}
        <div class="country">
            <a href="/countries/{{country.id}}">{{ country.country_name }}</a>
            {{ country.continent }}

            <div class="buttons">
            
                <p>Visited?</p>

                {% if country.visited == True %}
                    <i class="fa fa-check fa-1x" style="color:green" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-times fa-1x" aria-hidden="true"></i>
                {% endif %}

                <form class="delete-form" action="/countries/{{country.id}}/delete" method="POST">
                    <button class="trash-button"><i class="fa fa-trash-o fa-2x" style="color:red" aria-hidden="true"></i></button>
                </form>
            </div>
            <!-- <div class="continent_image">
                <img src="/static/images/{{country.continent}}.jpeg">
            </div> -->
        </div>

    {% endfor %}

</div>

{% endblock %}