{% extends "base.html" %}
{% block content %} 

<div class="info">
    <h2>{{ country.continent }}</h2>
    <hr>
    <p>{{ country.country_name }}</p>
    <p>Visited?
    {% if country.visited == True %}
        <i class="fa fa-check fa-1x" style="color:green" aria-hidden="true"></i>
    {% else %}
        <i class="fa fa-times fa-1x" style="color:red" aria-hidden="true"></i>
    {% endif %}</p>
    <p><a href="/countries/{{ country.id }}/edit">Edit</a></p>
    <hr>
    

    {% for city in all_cities %}
<div class="country">
    <a href="/cities/{{ city.id }}">{{ city.city_name }}</a>
    <!-- <img src="{{ city.img_url }}>" -->
    <!-- {{ city.country.country_name }} -->

    <div class="visited">
        <!-- {{ city.visited }} -->
    </div>

    

</div>

{% endfor %}

{% endblock %}