{% extends "base.html" %}
{% block content %} 

<div class="info">
    <h2><a href="/countries/{{ sight.country.id }}">{{ sight.country.country_name }}</a></h2>
    <hr>
    <p>{{ sight.sight_name }}</p>
    <p>{{ sight.description }}</p>
    <p>Visited?
{% if sight.visited == True %}
    <i class="fa fa-check fa-1x" style="color:green" aria-hidden="true"></i>
{% else %}
    <i class="fa fa-times fa-1x" style="color:red" aria-hidden="true"></i>
{% endif %}</p>
    <p><a href="/sights/{{ sight.id }}/edit">Edit</a></p>
    
</div>  




</div>

{% endblock %}